@charset "UTF-8";

@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

html * {
	font-family: 'NanumSquare', sans-serif;
	text-underline-position: under;
}

.table-box > table {
	width: 100%;
}

.table-box > table th, .table-box > table td{
	border: 1px solid black;
	padding: 10px;
	text-align: center;
}

.btns > button, .btns > a {
	border: 1px solid black;
	border-radius: 6px;
	padding: 5px;
}

.btns > button:hover, .btns > a:hover {
	background-color: black;
	color: white;
}

li { 
  display: flex;
  align-items: center;
  gap: 10px; 
}

.textarea {
  width: 100%;
  height: 200px; 
  padding: 10px;
  font-size: 16px;
  line-height: 1.5;
  resize: vertical; 
}


.container {
    flex: 1;
}

.footer {
    flex-shrink: 0;
}